<!--
<div id="page-top">
-->
      <div class="container-fluid p-0"> 
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
          <div class="w-100">
            <h2 class="mb-5">Education</h2>
    <!-- 
    <div>
      <div *ngFor="let employee of ab">
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">{{employee.name}}</h3>
            <div class="subheading mb-3">{{employee.institution}}</div>
            <div>employee.cgpa</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{employee.startDate}} - {{employee.endDate}}</span>
          </div>
        </div>
      </div>
    </div>
     -->
    <div *ngFor="let employee of ab">          
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0"  >{{employee.name}}</h3>
          <div class="subheading mb-3"  >{{employee.faculty}}</div>
          <div >{{employee.institution}}</div>
          <p  >CGPA: {{employee.cgpa}}</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary" >{{employee.startDate}} - {{employee.endDate}}</span>
        </div>
      </div> 
    </div>   
          </div>
        </section>            
        <hr class="m-0">    
      </div>
      <!--
</div>
-->