<!--
<div id="page-top">
-->


      <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
          <div class="w-100">
            <h1 class="mb-0">{{ab.firstName}}
              <span class="text-primary">{{ab.lastName}}</span>
            </h1>
            <div class="subheading mb-5">{{ab.address?.city}},{{ab.address?.country}}
              <a href="mailto:{{ab.email}}">{{ab.email}}</a>
            </div>
            <p class="lead mb-5">{{ab.objective}}</p>
            <div class="social-icons">
              <a href="{{ab.links?.linkedIn}}">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="{{ab.links?.gitHub}}">
                <i class="fab fa-github"></i>
              </a>
              <a href="{{ab.links?.twitter}}">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="{{ab.links?.instagram}}">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="{{ab.links?.facebook}}">
                <i class="fab fa-facebook-f"></i>
              </a>
            </div>
          </div>
        </section>
        
        <!--div>
          <h2>Employee List</h2>
          <div>{{ab.id}}</div>
          <div>{{ab.firstName}}</div>
          <div>{{ab.lastName}}</div>
          <div>{{ab.address.city}}</div>
          <div>{{ab.address.country}}</div>
          <div>{{ab.email}}</div>
          <div>{{ab.objective}}</div>
          <div>{{ab.links.linkedIn}}</div>
          <div>{{ab.links.gitHub}}</div>
          <div>{{ab.links.twitter}}</div>
          <div>{{ab.links.instagram}}</div>
          <div>{{ab.links.facebook}}</div>
        </div-->    
        <hr class="m-0">
      </div>
      <!--
</div>
-->