<!-- 
<div id="page-top">-->
      <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
          <div class="w-100">
            <h2 class="mb-5">Awards &amp; Certifications</h2>
            <ul class="fa-ul mb-0" *ngFor="let a of ab">
              <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                <span  [innerHTML]="a.description"></span>                
              </li>
              <!--div *ngFor="let a of ab">
                <li>
                  <i class="fa-li fa fa-trophy text-warning"></i>
                  a.description
                </li>
              </div-->
              <!--
              <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Google Analytics Certified Developer</li>
                -->
            </ul>
          </div>
        </section>
      </div>
<!--
    </div>
-->